const CONFIG = {
    admins: [""],
    discord_invite: "https://discord.gg/hW9UCgR",
    firebase: {
        apiKey: "",	 
        databaseURL: "https://xxx.firebaseio.com",
        projectId: "xxx",
        storageBucket: "xxx.appspot.com",
        }, 
    public: false,
    max_win: 3,
};
